@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: unset;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	transform: translateY(-4px);
	transition: all 0.3s ease-in-out;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
